.header {
	background: $base-color;
	padding: 2.4rem 0rem;

	@media (min-width: 1051px) {
		position: sticky;
		top: 0;
		z-index: 999999999999999999999;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include max-setter;
	}

	&__logos {
		display: flex;
		align-items: center;
		gap: 1.6rem;
	}
}
